


#showcase-img {
  width: 500px;
}

#form-card {
box-shadow: 5px 10px #575a89;
}

/*  Divider at profile.php */

.hr-theme-slash-2 {
  display: flex;

  }
  .hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
  }
  .hr-icon {
    position: relative;
    top: 3px;
    color: #ff0000;
  }

  .rqsBtn {
    opacity: 50%;
  }

 


  .searchImg {
    width: 20px;
  }

 textarea {
  resize: none !important;
  
  
 }



  

